.git
.gitignore

.env
**/.env

backend/venv
backend/node_modules
backend/__pycache__
backend/*.pyc
backend/professor_ai.db
backend/chroma_db

frontend/node_modules
frontend/.next

uploads
vector_db

*.rar
*.zip